@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Proza+Libre:wght@700&display=swap");

html{
  scroll-behavior: smooth;
  background-color:#FCF2D8;
  font-family:Arial;
  font-size:20px;
}

.header {
  background-color:#A5ACAF;
  border:5px solid #005A9c;
  text-align: left;
  padding:20px;
  border-radius:20px;
} 

#head{
  color:#fcf2d8;
  font-family: Arial;
}
.kan{
  color:#005A9c;
  font-family: Arial;
  border:3px solid;
  display:inline-block;
  border-radius: 35px;
}
@keyframes  {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.card{
  box-shadow: 0 4px 8px 0 #EF3E42;
  max-width:300px;
  margin:auto;
  text-align:center;
  font-family: 'Caveat';
  border-radius: 25px;
}
  
.title{
  color:#A5ACAF;
}
.b1{
  border: none;
  outline: 0;
  display: inline-block;
  padding:5px;
  color:#12151F;
  background-color:#B4D0E7;
  text-align:center;
  cursor:pointer;
  width:100%;
  font-size:13px;
  transition:0.4s;
}
a{
  text-decoration: none;
  font-size: 18px;
  color:black;
}
.b1:hover, a:hover{
  opacity: 0.7;
}
.topnav{
  overflow: hidden;
  background-color:#fcf2d8;
}
.topnav a {
  float:left;
  color:blue;
  text-align:center;
  padding: 13px 29px;
  text-decoration: none;
  font-size:15px;
   
}
.topnav a:hover{
  background-color:#005a9c;
  color:#a5acaf;
}
.topnav a.active{
  background-color:#005a9c;
  color:white;
}
#about{
  color:#005a9c;
  text-align:justify;
  font-family: Helvetica;
  
  
}
.footer{
  background-color:#005a9c;
  padding: 20px 35px;
  color:#fcf2d8;
  display: overflow;
  
}
$color-background: #eaecfa;
$color-loader: #ce4233;

body {
  background: $color-background;
}

.loader {
  width: 250px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-family: helvetica, arial, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  color: $color-loader;
  letter-spacing: 0.2em;
  display:hidden;
  
  &::before, &::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: $color-loader;
    position: absolute;
    animation: load .7s infinite alternate ease-in-out;
  }
  
  &::before {
    top: 0;
  }
  
  &::after {
    bottom: 0;
  }
}

@keyframes load {
  0% { left: 0; height: 30px; width: 15px }
  50% { height: 8px; width: 40px }
  100% { left: 235px; height: 30px; width: 15px}
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa:hover {
    opacity: 0.7;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.project{
  color:#005a9c;
  text-align:left;
  
}
#contacts{
  color:#005a9c;
}
