canvas {
  position: fixed;
  top:0;
  left:0;
}
:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

main {
  color: black;
  position: relative;
  grid-template-columns: repeat(12, 1fr);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
  grid-template-columns: repeat(8, 1fr);
  
  
}
/*-----This Covers Header-----------*/
.header{
  color:white;
  margin: 40px;
  position: relative;
  background-size: cover;
  grid-column: 2/ span 5;
  
  
}
nav{
  padding: 10px;
  display: flex;
  align-items: right;
  grid-column: 2 / 8;

}
nav ul{
  flex:1;
  text-align:right;
}
nav ul li{
  list-style: none;
  display: inline-block;
  margin: 20px;
}
nav ul li a {
  text-decoration: none;
  color:white;
}
/*-----Paragrapgh-------*/
.intro{
  color:#fff;
  text-align: left;
  overflow: hidden;
  margin: 50px;
  line-height: 50px;

}
a{
  text-decoration: none;
  color:white;
}

.skills{
  text-align:left;
  margin:50px;
  line-height:50px;
}

.fade-in{
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: both;
  
}

input[type=submit] {
  background-color: #041daa;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #2479e7;
}

.contact {
  border-radius: 5px;
  background-color: #0f21c72a;
  padding: 20px 30px;
  color:thistle;
background: transparent;
}
input, text-area{
  width:100%;
  padding:10px;
  outline: 0;
  border: 1px solid #fff;
  background: transparent;
  font-size: 15px;
 
}
 .subject{
  background:transparent;
}
